public/about.html
<!doctype html><html lang="es"><head><title>Conócenos</title><meta content="width=device-width,initial-scale=1" name="viewport"><meta charset="utf-8"><link rel="icon" type="image/ico" href="img/favicon.ico"><script defer="defer" src="main.bundle.js"></script><link href="css/main.css" rel="stylesheet"></head><body><nav class="nav"><div class="nav-container"><div class="nav-logo-container"><a href="/index.html"><img class="nav-logo" src="img/logo.png" alt="Navbar logo"></a></div><div class="nav-option-wrapper"><div class="nav-option"><a class="nav-option-link border" href="/about.html"><span>conócenos</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/staff.html"><span>especialidades</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/services.html"><span>servicios</span></a></div><div class="nav-option"><a class="nav-option-link border" href="#"><span class="pink">maternidad</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/packages.html"><span>paquetes</span></a></div><div class="nav-option"><a class="nav-option-link border" href="#"><span class="background">pre-admisión</span></a></div><div class="nav-option"><a class="nav-option-link" href="#"><span>blog</span></a></div></div><div class="hamburger-wrapper"><div class="hamburger-line-container" id="hamburgerMenu"><div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div></div></div><div class="hamburger-menu-container" id="menuContainer"><div class="hamburger-menu"><div class="hamburger-menu-header"><a id="hideHamburger"><img src="img/close.svg"></a></div><div class="hamburger-menu-body"><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">conocenos</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">directorio</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">servicios</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">aseguradoras</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">paquetes</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">pre-admision</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">blog</span></a></div></div></div></div></div></nav><div class="about"><div class="home-address"><span class="text">Av. Rio consulado No. 858, Col.El Arenal, Alcaldia Azcapotzalco<br>CDMX, C.P 02980</span><spam class="phone"><i class="icon-phone-alt"></i>55-5881-5316</spam></div><div class="about-banner"><img src="img/about-banner-1.jpg" alt="Banner"></div><div class="about-info"><div class="about-info-title">Misión</div><div class="about-info-content">Otorgar servicios médicos y hospitalarios de alta calidad, garantizando la seguridad de nuestros pacientes a costos accesibles</div><div class="about-info-title">Visión</div><div class="about-info-content">Ser un hospital reconocido, líder y certificado a corto plazo en servicios de salud integral en la localidad</div><div class="about-info-title">Valores</div><div class="about-info-content"><ul><li>Responsabilidad</li><li>Profesionalismo</li><li>Honestidad</li><li>Calidad Humana</li><li>Respeto</li></ul></div></div><div class="about-banner"><img src="img/about-banner-2.jpg" alt="Banner 2"></div><div class="about-certs about-info"><div class="about-info-title">Certificaciones</div><div class="about-certs-content">Av. Río Consulado No. 858, Col.El Arenal, Alcaldía Azcapotzalco,<br>CDMX, C.P 02980</div><figure class="about-certs-image"><img src="img/about-certifications.png" alt="Certificaciones"></figure></div><div class="about-video"><div class="about-video-header"><span>Todos los Videos</span><div class="about-video-header-icons"><i class="icon-share-alt"></i><i class="icon-info"></i></div></div><div class="about-video-main"><img src="img/black.jpg" alt="Fondo Video"><div class="about-video-main-text"><div class="about-video-main-title">Todos los videos</div><a class="about-video-main-button" href="#"><i class="icon-play"></i><span>Reproducir video</span></a></div></div><div class="about-video-search"><i class="icon-search"></i><input placeholder="Buscar video..."></div><div class="about-video-list"><div class="item"><img src="img/black.jpg" alt="Fondo video"></div><div class="item"><img src="img/black.jpg" alt="Fondo video"></div><div class="item"><img src="img/black.jpg" alt="Fondo video"></div><div class="item"><img src="img/black.jpg" alt="Fondo video"></div><div class="item"><img src="img/black.jpg" alt="Fondo video"></div><div class="item"><img src="img/black.jpg" alt="Fondo video"></div><div class="item"><img src="img/black.jpg" alt="Fondo video"></div><div class="item"><img src="img/black.jpg" alt="Fondo video"></div></div><div class="about-video-footer"><div class="about-video-footer-arrow" id="videoArrowLeft"><i class="icon-long-arrow-alt-right left"></i><span>Anterior</span></div><div class="about-video-footer-arrow" id="videoArrowRight"><span>Siguiente</span><i class="icon-long-arrow-alt-right right"></i></div></div></div></div><footer class="footer"><div class="footer-social"><a href="#" target="_blank"><i class="icon-facebook-f"></i></a><a href="#" target="_blank"><i class="icon-twitter"></i></a></div><figure class="footer-logo"><img src="img/logo-footer.png" alt="Footer Logo"></figure><div class="footer-link-container"><div class="footer-link"><a class="border" href="#">conócenos</a></div><div class="footer-link"><a class="border" href="/staff.html">directorio</a></div><div class="footer-link"><a class="border" href="#">servicios</a></div><div class="footer-link"><a class="border" href="#">aseguradoras</a></div><div class="footer-link"><a class="border" href="#">pre-admisión</a></div><div class="footer-link"><a class="border" href="#">blog</a></div></div><p class="footer-text"><a href="#">AVISO DE PRIVACIDAD</a></p><p class="footer-text">Todos los derechos reservados. México 2021</p></footer></body></html>

src/templates/pages/about.pug
extends ../base

block title
  | Conócenos

block content
  .about
    include ../partials/adress-partial
    .about-banner
      img(src='img/about-banner-1.jpg', alt='Banner')
    .about-info
      .about-info-title Misión
      .about-info-content
        | Otorgar servicios médicos y hospitalarios de alta calidad, garantizando la
        | seguridad de nuestros pacientes a costos accesibles
      .about-info-title Visión
      .about-info-content
        | Ser un hospital reconocido, líder y certificado a corto plazo en servicios
        | de salud integral en la localidad
      .about-info-title Valores
      .about-info-content
        ul
          li Responsabilidad
          li Profesionalismo
          li Honestidad
          li Calidad Humana
          li Respeto
    .about-banner
      img(src='img/about-banner-2.jpg', alt='Banner 2')
    .about-certs.about-info
      .about-info-title Certificaciones
      .about-certs-content
        | Av. Río Consulado No. 858, Col.El Arenal, Alcaldía Azcapotzalco, <br> CDMX, C.P 02980
      figure.about-certs-image
        img(src='img/about-certifications.png', alt='Certificaciones')
    .about-video
      .about-video-header
        span Todos los Videos
        .about-video-header-icons
          i.icon-share-alt
          i.icon-info
      .about-video-main
        img(src='img/black.jpg', alt='Fondo Video')
        .about-video-main-text
          .about-video-main-title Todos los videos
          a.about-video-main-button(href='#')
            i.icon-play
            span Reproducir video
      .about-video-search
        i.icon-search
        input(type='text', placeholder='Buscar video...')
      .about-video-list
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
      .about-video-footer
        #videoArrowLeft.about-video-footer-arrow
          i.icon-long-arrow-alt-right.left
          span Anterior
        #videoArrowRight.about-video-footer-arrow
          span Siguiente
          i.icon-long-arrow-alt-right.right
