public/index.html
<!doctype html><html lang="es"><head><title>Inicio</title><meta content="width=device-width,initial-scale=1" name="viewport"><meta charset="utf-8"><link rel="icon" type="image/ico" href="img/favicon.ico"><script defer="defer" src="main.bundle.js"></script><link href="css/main.css" rel="stylesheet"></head><body><nav class="nav"><div class="nav-container"><div class="nav-logo-container"><a href="/index.html"><img class="nav-logo" src="img/logo.png" alt="Navbar logo"></a></div><div class="nav-option-wrapper"><div class="nav-option"><a class="nav-option-link border" href="/about.html"><span>conócenos</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/staff.html"><span>especialidades</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/services.html"><span>servicios</span></a></div><div class="nav-option"><a class="nav-option-link border" href="#"><span class="pink">maternidad</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/packages.html"><span>paquetes</span></a></div><div class="nav-option"><a class="nav-option-link border" href="#"><span class="background">pre-admisión</span></a></div><div class="nav-option"><a class="nav-option-link" href="#"><span>blog</span></a></div></div><div class="hamburger-wrapper"><div class="hamburger-line-container" id="hamburgerMenu"><div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div></div></div><div class="hamburger-menu-container" id="menuContainer"><div class="hamburger-menu"><div class="hamburger-menu-header"><a id="hideHamburger"><img src="img/close.svg"></a></div><div class="hamburger-menu-body"><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">conocenos</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">directorio</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">servicios</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">aseguradoras</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">paquetes</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">pre-admision</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">blog</span></a></div></div></div></div></div></nav><div class="home"><div class="home-address"><span class="text">Av. Rio consulado No. 858, Col.El Arenal, Alcaldia Azcapotzalco<br>CDMX, C.P 02980</span><spam class="phone"><i class="icon-phone-alt"></i>55-5881-5316</spam></div><div class="home-banner-container firts"><div class="home-banner home-banner-one"><div class="home-banner-one-content"><h1>RÍO CONSULADO</h1><h2>Somos la opción más segura y confiable en el cuidado de la salud</h2><a href="/services.html" target="_blank">Ver video</a></div></div></div><div class="home-banner-container"><div class="home-banner home-banner-two"><div class="home-banner-two-content"><h2>CONOCE NUESTRAS</h2><h1>ESPECIALIDADES</h1></div></div></div><div class="home-banner-container"><div class="home-banner home-banner-three"><div class="home-banner-three-content"><div class="item"><h1>PROMOCIONES</h1><a href="#">Obtener Información</a></div><div class="item"><h1>PROMOCIONES</h1><a href="#">Obtener Información</a></div><div class="item"><h1>PROMOCIONES</h1><a href="#">Obtener Información</a></div><div class="item"><h1>PROMOCIONES</h1><a href="#">Obtener Información</a></div><div class="item"><h1>PROMOCIONES</h1><a href="#">Obtener Información</a></div></div></div></div><div class="home-banner-container"><div class="home-banner home-banner-four"><div class="home-banner-four-content"><h2>CONOCE NUESTROS</h2><h1>PAQUETES QUIRÚRGICOS</h1><h1>2021</h1><a href="#">Conócelos Aquí</a></div></div></div><div class="home-specialies"><h1>Hospital Río Consulado</h1><h2>En Hospital Río Consulado contamos con todas las especialidades médicas, servicios de diagnóstico y tratamiento, para tu atención y la de tus seres queridos</h2><div class="home-specialies-images"><figure class="home-specialies-images-big"><img src="img/specialty-big.png"></figure><div class="home-specialies-images-col margin"><figure><img src="img/specialty-1.jpg"><figcaption>Laboratorio</figcaption></figure><figure><img src="img/specialty-3.jpg"><figcaption>Maternidad</figcaption></figure></div><div class="home-specialies-images-col"><figure><img src="img/specialty-2.jpg"><figcaption>Oftalmología</figcaption></figure><figure><img src="img/specialty-4.jpg"><figcaption>Imagenologia</figcaption></figure></div></div></div><div class="home-secures"><div class="home-secures-container"><figure class="home-secures-item"><img src="img/secures-1.png"></figure><figure class="home-secures-item"><img src="img/secures-2.png"></figure><figure class="home-secures-item"><img src="img/secures-3.png"></figure><figure class="home-secures-item"><img src="img/secures-4.png"></figure><figure class="home-secures-item"><img src="img/secures-5.png"></figure><figure class="home-secures-item"><img src="img/secures-6.png"></figure><figure class="home-secures-item"><img src="img/secures-7.png"></figure><figure class="home-secures-item"><img src="img/secures-8.png"></figure><figure class="home-secures-item"><img src="img/secures-9.png"></figure><figure class="home-secures-item"><img src="img/secures-10.png"></figure><figure class="home-secures-item"><img src="img/secures-11.png"></figure><figure class="home-secures-item"><img src="img/secures-12.png"></figure><figure class="home-secures-item"><img src="img/secures-13.png"></figure></div><a href="#">Convenios y Aseguradoras</a></div><div class="home-banner-container"><div class="home-banner home-banner-five"><div class="home-banner-five-content"><h1>CONOCE NUESTRO</h1><h1 class="last">DIRECTORIO MEDICO</h1><a href="#">Encuentra una Especialidad</a></div></div></div><div class="home-blog"><h1 class="home-blog-title">CONSULTA NUESTRO BLOG</h1><div class="home-blog-container"><div class="home-blog-item"><div class="home-blog-item-image" style="background: url(&quot;img/blog-1.jpg&quot;)"></div><a class="home-blog-item-title" href="#">La Importancia de la alimentación infantil</a><div class="home-blog-item-actions"><span class="views"><i class="icon-eye"></i>6</span><a class="link" href="#">Escribir un comentario</a><i class="like icon-heart"></i></div></div><div class="home-blog-item"><div class="home-blog-item-image" style="background: url(&quot;img/blog-2.jpg&quot;)"></div><a class="home-blog-item-title home-blog-item-title" href="#">Lo que tienes que saber de la diabetes</a><div class="home-blog-item-actions"><span class="views"><i class="icon-eye"></i>6</span><a class="link" href="#">Escribir un comentario</a><i class="like icon-heart"></i></div></div><div class="home-blog-item"><div class="home-blog-item-image" style="background: url(&quot;img/blog-3.jpg&quot;)"></div><a class="home-blog-item-title home-blog-item-title" href="#">Las variantes del coronavirus</a><div class="home-blog-item-actions"><span class="views"><i class="icon-eye"></i>6</span><a class="link" href="#">Escribir un comentario</a><i class="like icon-heart"></i></div></div></div></div></div><footer class="footer"><div class="footer-social"><a href="#" target="_blank"><i class="icon-facebook-f"></i></a><a href="#" target="_blank"><i class="icon-twitter"></i></a></div><figure class="footer-logo"><img src="img/logo-footer.png" alt="Footer Logo"></figure><div class="footer-link-container"><div class="footer-link"><a class="border" href="#">conócenos</a></div><div class="footer-link"><a class="border" href="/staff.html">directorio</a></div><div class="footer-link"><a class="border" href="#">servicios</a></div><div class="footer-link"><a class="border" href="#">aseguradoras</a></div><div class="footer-link"><a class="border" href="#">pre-admisión</a></div><div class="footer-link"><a class="border" href="#">blog</a></div></div><p class="footer-text"><a href="#">AVISO DE PRIVACIDAD</a></p><p class="footer-text">Todos los derechos reservados. México 2021</p></footer></body></html>

src/templates/pages/index.pug
extends ../base

block title
  | Inicio

block content
  .home
    include ../partials/adress-partial
    .home-banner-container.firts
      .home-banner.home-banner-one
        .home-banner-one-content
          h1 RÍO CONSULADO
          h2 Somos la opción más segura y confiable en el cuidado de la salud
          a(href='/services.html', target='_blank') Ver video
    .home-banner-container
      .home-banner.home-banner-two
        .home-banner-two-content
          h2 CONOCE NUESTRAS
          h1 ESPECIALIDADES
    .home-banner-container
      .home-banner.home-banner-three
        .home-banner-three-content
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
    .home-banner-container
      .home-banner.home-banner-four
        .home-banner-four-content
          h2 CONOCE NUESTROS
          h1 PAQUETES QUIRÚRGICOS
          h1 2021
          a(href='#') Conócelos Aquí
    .home-specialies
      h1 Hospital Río Consulado
      h2
        | En Hospital Río Consulado contamos con todas las especialidades médicas,
        | servicios de diagnóstico y tratamiento, para tu atención y la de tus
        | seres queridos
      .home-specialies-images
        figure.home-specialies-images-big
          img(src='img/specialty-big.png')
        .home-specialies-images-col.margin
          figure
            img(src='img/specialty-1.jpg')
            figcaption Laboratorio
          figure
            img(src='img/specialty-3.jpg')
            figcaption Maternidad
        .home-specialies-images-col
          figure
            img(src='img/specialty-2.jpg')
            figcaption Oftalmología
          figure
            img(src='img/specialty-4.jpg')
            figcaption Imagenologia
    .home-secures
      .home-secures-container
        figure.home-secures-item
          img(src='img/secures-1.png')
        figure.home-secures-item
          img(src='img/secures-2.png')
        figure.home-secures-item
          img(src='img/secures-3.png')
        figure.home-secures-item
          img(src='img/secures-4.png')
        figure.home-secures-item
          img(src='img/secures-5.png')
        figure.home-secures-item
          img(src='img/secures-6.png')
        figure.home-secures-item
          img(src='img/secures-7.png')
        figure.home-secures-item
          img(src='img/secures-8.png')
        figure.home-secures-item
          img(src='img/secures-9.png')
        figure.home-secures-item
          img(src='img/secures-10.png')
        figure.home-secures-item
          img(src='img/secures-11.png')
        figure.home-secures-item
          img(src='img/secures-12.png')
        figure.home-secures-item
          img(src='img/secures-13.png')
      a(href='#') Convenios y Aseguradoras
    .home-banner-container
      .home-banner.home-banner-five
        .home-banner-five-content
          h1 CONOCE NUESTRO
          h1.last DIRECTORIO MEDICO
          a(href='#') Encuentra una Especialidad
    include ../partials/blog-partial
