src/templates/pages/services.pug
extends ../base

block title
  | Servicios

block content
  include ../partials/adress-partial
  .services
    video.services-video(
      autoplay,
      playsinline,
      loop,
      preload='metadata',
      muted
    )
      source(src='/video/services.mp4', type='video/mp4')
    h1.services-title Hospital Río Consulado
    h2.services-subtitle
      | En Hospital Río Consulado contamos con todas las especialidades médicas, servicios de diagnóstico y
      | tratamiento, para tu atención y la de tus seres queridos.
    .services-images
      figure
        img(src='img/new-services-1.png')
      figure
        img(src='img/new-services-2.png')
    .services-images
      figure
        img(src='img/new-services-3.png')
      figure
        img(src='img/new-services-4.png')
    .services-images
      figure
        img(src='img/new-services-5.png')
      figure
        img(src='img/new-services-6.png')
    .services-images
      figure
        img(src='img/new-services-7.png')
      figure
        img(src='img/new-services-8.png')
    .services-images
      figure
        img(src='img/new-services-9.png')
      figure
        img(src='img/new-services-10.png')
    figure.services-banner
      img(src='img/new-services-11.png')
    .home-specialies-images
      figure.home-specialies-images-big
        img(src='img/specialty-big.png')
      .home-specialies-images-col.margin
        figure
          img(src='img/specialty-1.jpg')
          figcaption Laboratorio
        figure
          img(src='img/specialty-3.jpg')
          figcaption Maternidad
      .home-specialies-images-col
        figure
          img(src='img/specialty-2.jpg')
          figcaption Oftalmologia
        figure
          img(src='img/specialty-4.jpg')
          figcaption Imagenologia

    .services-separator
    include ../partials/blog-partial

public/services.html
<!doctype html><html lang="es"><head><title>Servicios</title><meta content="width=device-width,initial-scale=1" name="viewport"><meta charset="utf-8"><link rel="icon" type="image/ico" href="img/favicon.ico"><script defer="defer" src="main.bundle.js"></script><link href="css/main.css" rel="stylesheet"></head><body><nav class="nav"><div class="nav-container"><div class="nav-logo-container"><a href="/index.html"><img class="nav-logo" src="img/logo.png" alt="Navbar logo"></a></div><div class="nav-option-wrapper"><div class="nav-option"><a class="nav-option-link border" href="/about.html"><span>conócenos</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/staff.html"><span>especialidades</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/services.html"><span>servicios</span></a></div><div class="nav-option"><a class="nav-option-link border" href="#"><span class="pink">maternidad</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/packages.html"><span>paquetes</span></a></div><div class="nav-option"><a class="nav-option-link border" href="#"><span class="background">pre-admisión</span></a></div><div class="nav-option"><a class="nav-option-link" href="#"><span>blog</span></a></div></div><div class="hamburger-wrapper"><div class="hamburger-line-container" id="hamburgerMenu"><div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div></div></div><div class="hamburger-menu-container" id="menuContainer"><div class="hamburger-menu"><div class="hamburger-menu-header"><a id="hideHamburger"><img src="img/close.svg"></a></div><div class="hamburger-menu-body"><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">conocenos</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">directorio</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">servicios</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">aseguradoras</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">paquetes</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">pre-admision</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">blog</span></a></div></div></div></div></div></nav><div class="home-address"><span class="text">Av. Rio consulado No. 858, Col.El Arenal, Alcaldia Azcapotzalco<br>CDMX, C.P 02980</span><spam class="phone"><i class="icon-phone-alt"></i>55-5881-5316</spam></div><div class="services"><video class="services-video" autoplay playsinline loop preload="metadata" muted><source src="/video/services.mp4" type="video/mp4"></video><h1 class="services-title">Hospital Río Consulado</h1><h2 class="services-subtitle">En Hospital Río Consulado contamos con todas las especialidades médicas, servicios de diagnóstico y tratamiento, para tu atención y la de tus seres queridos.</h2><div class="services-images"><figure><img src="img/new-services-1.png"></figure><figure><img src="img/new-services-2.png"></figure></div><div class="services-images"><figure><img src="img/new-services-3.png"></figure><figure><img src="img/new-services-4.png"></figure></div><div class="services-images"><figure><img src="img/new-services-5.png"></figure><figure><img src="img/new-services-6.png"></figure></div><div class="services-images"><figure><img src="img/new-services-7.png"></figure><figure><img src="img/new-services-8.png"></figure></div><div class="services-images"><figure><img src="img/new-services-9.png"></figure><figure><img src="img/new-services-10.png"></figure></div><figure class="services-banner"><img src="img/new-services-11.png"></figure><div class="home-specialies-images"><figure class="home-specialies-images-big"><img src="img/specialty-big.png"></figure><div class="home-specialies-images-col margin"><figure><img src="img/specialty-1.jpg"><figcaption>Laboratorio</figcaption></figure><figure><img src="img/specialty-3.jpg"><figcaption>Maternidad</figcaption></figure></div><div class="home-specialies-images-col"><figure><img src="img/specialty-2.jpg"><figcaption>Oftalmologia</figcaption></figure><figure><img src="img/specialty-4.jpg"><figcaption>Imagenologia</figcaption></figure></div></div><div class="services-separator"></div><div class="home-blog"><h1 class="home-blog-title">CONSULTA NUESTRO BLOG</h1><div class="home-blog-container"><div class="home-blog-item"><div class="home-blog-item-image" style="background: url(&quot;img/blog-1.jpg&quot;)"></div><a class="home-blog-item-title" href="#">La Importancia de la alimentación infantil</a><div class="home-blog-item-actions"><span class="views"><i class="icon-eye"></i>6</span><a class="link" href="#">Escribir un comentario</a><i class="like icon-heart"></i></div></div><div class="home-blog-item"><div class="home-blog-item-image" style="background: url(&quot;img/blog-2.jpg&quot;)"></div><a class="home-blog-item-title home-blog-item-title" href="#">Lo que tienes que saber de la diabetes</a><div class="home-blog-item-actions"><span class="views"><i class="icon-eye"></i>6</span><a class="link" href="#">Escribir un comentario</a><i class="like icon-heart"></i></div></div><div class="home-blog-item"><div class="home-blog-item-image" style="background: url(&quot;img/blog-3.jpg&quot;)"></div><a class="home-blog-item-title home-blog-item-title" href="#">Las variantes del coronavirus</a><div class="home-blog-item-actions"><span class="views"><i class="icon-eye"></i>6</span><a class="link" href="#">Escribir un comentario</a><i class="like icon-heart"></i></div></div></div></div></div><footer class="footer"><div class="footer-social"><a href="#" target="_blank"><i class="icon-facebook-f"></i></a><a href="#" target="_blank"><i class="icon-twitter"></i></a></div><figure class="footer-logo"><img src="img/logo-footer.png" alt="Footer Logo"></figure><div class="footer-link-container"><div class="footer-link"><a class="border" href="#">conócenos</a></div><div class="footer-link"><a class="border" href="/staff.html">directorio</a></div><div class="footer-link"><a class="border" href="#">servicios</a></div><div class="footer-link"><a class="border" href="#">aseguradoras</a></div><div class="footer-link"><a class="border" href="#">pre-admisión</a></div><div class="footer-link"><a class="border" href="#">blog</a></div></div><p class="footer-text"><a href="#">AVISO DE PRIVACIDAD</a></p><p class="footer-text">Todos los derechos reservados. México 2021</p></footer></body></html>
