public/staff.html
<!doctype html><html lang="es"><head><title>Directorio</title><meta content="width=device-width,initial-scale=1" name="viewport"><meta charset="utf-8"><link rel="icon" type="image/ico" href="img/favicon.ico"><script defer="defer" src="main.bundle.js"></script><link href="css/main.css" rel="stylesheet"></head><body><nav class="nav"><div class="nav-container"><div class="nav-logo-container"><a href="/index.html"><img class="nav-logo" src="img/logo.png" alt="Navbar logo"></a></div><div class="nav-option-wrapper"><div class="nav-option"><a class="nav-option-link border" href="/about.html"><span>conócenos</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/staff.html"><span>especialidades</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/services.html"><span>servicios</span></a></div><div class="nav-option"><a class="nav-option-link border" href="#"><span class="pink">maternidad</span></a></div><div class="nav-option"><a class="nav-option-link border" href="/packages.html"><span>paquetes</span></a></div><div class="nav-option"><a class="nav-option-link border" href="#"><span class="background">pre-admisión</span></a></div><div class="nav-option"><a class="nav-option-link" href="#"><span>blog</span></a></div></div><div class="hamburger-wrapper"><div class="hamburger-line-container" id="hamburgerMenu"><div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div></div></div><div class="hamburger-menu-container" id="menuContainer"><div class="hamburger-menu"><div class="hamburger-menu-header"><a id="hideHamburger"><img src="img/close.svg"></a></div><div class="hamburger-menu-body"><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">conocenos</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">directorio</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">servicios</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">aseguradoras</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">paquetes</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">pre-admision</span></a></div><div class="hamburger-text-container"><a href="#"><span class="hamburger-text">blog</span></a></div></div></div></div></div></nav><div class="staff"><div class="home-address"><span class="text">Av. Rio consulado No. 858, Col.El Arenal, Alcaldia Azcapotzalco<br>CDMX, C.P 02980</span><spam class="phone"><i class="icon-phone-alt"></i>55-5881-5316</spam></div><div class="staff-banner"><div class="staff-banner-content"><h1><span>Encuentra un<br></span><span>especialista</span></h1><a class="general-link" href="#">Selecciona uno aqui</a></div><figure><img src="img/staff-1.jpg" alt="Family Image"></figure></div><div class="staff-banner"><div class="staff-banner-content"><h1><span>Encuentra un<br></span><span>especialista</span></h1><a class="general-link" href="#">Selecciona uno aqui</a></div><figure><img src="img/staff-1.jpg" alt="Family Image"></figure></div><div class="staff-info"><div class="staff-info-col"><h2>A-E</h2><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Alergología</span></div><div class="staff-info-content"><div class="item"><span>DR. ANDREA GRANADOS GÓMEZ</span><span>Lunes Y Miércoles | Sábado</span><span>Lunes Y Miércoles A Partir De Las 14:00 H | Sábado A Partir De Las 8:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Angiología y Cirugía vascular</span></div><div class="staff-info-content"><div class="item"><span>DR. LIZBETH LINARTE MÁRQUEZ</span><span>Martes, Miércoles Y Viernes de 14:30 A 17:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Cardiología</span></div><div class="staff-info-content"><div class="item"><span>DR. JANETH MIJANGOS CHÁVEZ</span><span>Martes Y Jueves | Sábado</span><span>Martes Y Jueves 15:00 A 19:00 H | Sábado 13:00 A 15:00 H Y 17:30 -18:30 -19:30 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Cirugía General</span></div><div class="staff-info-content"><div class="item"><span>DR. ROGELIO MENDOZA ARCHER</span><span>Martes a Sábado de 11:00 a 14:00</span></div><div class="item"><span>DR. AZAEL PABLO RUIZ</span><span>Lunes a Sábado de 9:00 a 12:00</span></div><div class="item"><span>DR. ALAN R. GARCÍA MARÍN</span><span>Lunes A Viernes | Sábado</span><span>Lunes A Viernes 15:30 A 18:30 H | Sábado 10:00 A 12:30 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Cirugía Pediátrica</span></div><div class="staff-info-content"><div class="item"><span>DR. ONÉSIMO AVILÉS GONZÁLEZ</span><span>Lunes A Viernes | Sábado</span></div><div class="item"><span>DR. AZAEL PABLO RUIZ</span><span>Lunes a Sábado de 9:00 a 12:00</span><span>Lunes A Viernes 14:30 A 18:30 H | Sábado 8:00 A 10:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Cirugía Plástica Estética y Reconstructiva</span></div><div class="staff-info-content"><div class="item"><span>DRA. ROSA MARÍA GUERRERO CAMPOS</span><span>Previa Cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Dermatología</span></div><div class="staff-info-content"><div class="item"><span>Lunes Y Jueves | Domingo</span><span>Lunes Y Jueves 14:00 A 17:00 H | Domingo 10:00 A 12:00 H</span></div></div></div></div><div class="staff-info-col"><h2>G-0</h2><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Gastroendoscopia</span></div><div class="staff-info-content"><div class="item"><span>DR. ALAN R. GARCÍA MARÍN</span><span>Lunes A Viernes | Sábado</span><span>Lunes A Viernes 15:30 A 18:30 H | Sábado 10:00 A 12:30 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Gatro-Pediatría</span></div><div class="staff-info-content"><div class="item"><span>DRA. LETICIA CASTRO ORTIZ</span><span>Previa Cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Geriatría</span></div><div class="staff-info-content"><div class="item"><span>DR. ENRIQUE ALAVES TORRES</span><span>Previa Cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Ginecología</span></div><div class="staff-info-content"><div class="item"><span>DR. ÁNGEL G. SOLÍS RODRÍGUEZ</span><span>Lunes, Martes, Jueves Y Viernes | Sábado</span><span>Lunes A Viernes 10:00 A 13:30 H Y 16:00 A 20:00 H | Mar Y Jue 16:00 A 18:30 H | Sábado 9:00 A 14:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Hematología</span></div><div class="staff-info-content"><div class="item"><span>DRA. CLAUDIA BARÓN ARCE</span><span>Lunes A Viernes de 14:30 Y 15:00 H</span></div><div class="item"><span>DR. LUIS FERNANDO JACOBO</span><span>Lunes A Partir De 16:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Medicina General</span></div><div class="staff-info-content"><div class="item"><span>DRA. ELVIA ZAVALA LÓPEZ</span><span>Lunes A Jueves de 8:00 A 12:00 H</span></div><div class="item"><span>DRA. JOCELYN M. HERNÁNDEZ SALAZAR</span><span>Lunes A Viernes de 9:00 A 18:00 H</span></div><div class="item"><span>DR. MOISÉS TORREA PALACIOS</span><span>Martes Y Jueves | Domingo de 20:00 A 08:00 H</span></div><div class="item"><span>DR. JOSUÉ AGUILAR REYES</span><span>Lunes, Miércoles Y Viernes de 20:00 A 08:00 H</span></div><div class="item"><span>DR. YAIR SÁNCHEZ LÓPEZ</span><span>Sábado de 8:00 A 20:00 H</span></div><div class="item"><span>DR. RICARDO RESÉNDIZ GARCÍA</span><span>Martes Y Jueves de 12:00 A 20:00 H</span></div><div class="item"><span>DR. JUAN CARLOS OLVERA MORENO</span><span>Sábado Y Domingo</span><span>Sábado 20:00 A 08:00 H | Domingo 08:00 A 20:00 H</span></div><div class="item"><span>DRA. KARLA A. PINEDA ROMERO</span><span>Martes Y Jueves de 16:00 A 20:00 H</span></div><div class="item"><span>DRA. KAREN B. JIMÉNEZ VEGA</span><span>Lunes, Miércoles Y Viernes</span><span>Lunes Y Miércoles 16:00 A 20:00 H | Viernes 8:00 A 13:00H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Medicina Interna</span></div><div class="staff-info-content"><div class="item"><span>DR. A. EMILIO REYES JIMÉNEZ</span><span>Lunes, Martes Y Jueves | Miércoles Y Viernes</span><span>Lunes, Martes Y Jueves A Partir De 16:30 H | Miércoles Y Viernes Previa Cita</span></div><div class="item"><span>DR. RODOLFO H. RODRÍGUEZ MARTÍNEZ</span><span>Lunes A Viernes</span><span>Lunes A Viernes 10:00 A 14:00 H | Martes Solo Con Previa Cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Nefrología</span></div><div class="staff-info-content"><div class="item"><span>DRA. CATALINA GARCÍA RAMÍREZ</span><span>Lunes, Miércoles Y Viernes | Sábado Y Domingo</span><span>Lunes, Miércoles Y Viernes 14:30 A 18:00 H | Sábado Y Domingo Solamente Urgencias</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Neumología</span></div><div class="staff-info-content"><div class="item"><span>DR. JUVENCIO OSNAYA JUÁREZ</span><span>Sábado de 9:30 A 13:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Neurocirugía</span></div><div class="staff-info-content"><div class="item"><span>DR. VÍCTOR A. REYES RODRÍGUEZ</span><span>Martes Y Jueves de 16:00 A 20:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Neurología</span></div><div class="staff-info-content"><div class="item"><span>DRA. DIANA LÓPEZ</span><span>Lunes, Jueves Y Viernes</span><span>Previa Cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Nutriología</span></div><div class="staff-info-content"><div class="item"><span>LIC. DULCE KAREN LÓPEZ DOMÍNGUEZ</span><span>Lunes A Viernes | Sábado Y Domingo</span><span>Lunes A Viernes 9:00 A 14:00 H | Sábado Y Domingo Previa Cita 10:00 A 14:00 H</span></div><div class="item"><span>LIC. CARLOS HERNÁNDEZ MONDRAGÓN</span><span>Martes Y Jueves | Sábado Y Domingo</span><span>Martes Y Jueves 7:00 A 8:00 H | Sábado A Partir De 14:00 H | Domingo A Partir De 9:00 H</span></div></div></div></div><div class="staff-info-col"><h2>O-U</h2><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Odontología</span></div><div class="staff-info-content"><div class="item"><span>EDUARDO LÓPEZ GARCÍA GUERRERO</span><span>Martes, Miércoles Y Viernes | Sábado Y Domingo</span><span>Martes Y Miércoles 11:00 A 19:00 H | Viernes 9:00 A 12:00 H | Sábado 9:00 A 12:00 H | Domingo Previa Cita</span></div><div class="item"><span>RAQUEL TORRES</span><span>Lunes Y Miércoles | Sábado</span><span>Lunes Y Miércoles 10:00 A 13:30 H | Sábado A Partir De 14:30 H</span></div><div class="item"><span>ISAAC VÁZQUEZ (ORTODONCIA)</span><span>Jueves con Previa Cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Oftalmología</span></div><div class="staff-info-content"><div class="item"><span>DR. VIRGILIO LIMA GÓMEZ</span><span>Lunes A Viernes | Sábado</span><span>Lunes A Viernes 15:00 Y 15:30 H | Sábado 8:00 A 13:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Oncología</span></div><div class="staff-info-content"><div class="item"><span>DR. JOSÉ EDUARDO ROVELO LIMA</span><span>Horario Abierto con Previa Cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Ortopedia</span></div><div class="staff-info-content"><div class="item"><span>DR. MARIO BOBADILLA CAZARES</span><span>Lunes A Jueves | Sábado</span><span>Lunes 15:00 A 17:00 H | Martes 15:00 A 19:30 H | Miércoles 15:00 A 19:30 H | Jueves 15:00 A 19:30 H | Sábado 8:00 A 10:00 H</span></div><div class="item"><span>DR. EDGAR CHÁVEZ LLAMAS</span><span>Martes Y Jueves | Sábado de 11:00 A 14:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Otorrinolaringología</span></div><div class="staff-info-content"><div class="item"><span>DRA. GRACIELA CHÁVEZ RAMÍREZ</span><span>Lunes A Viernes</span><span>Lunes A Viernes 12:30 A 13:30 H | Martes Y Jueves 17:00 Y 17:30 H</span></div><div class="item"><span>DRA. IARA PINEDA TEJEIRA</span><span>Lunes, Martes Y Jueves con Previa cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Otoneurología</span></div><div class="staff-info-content"><div class="item"><span>DRA. IARA PINEDA TEJEIRA</span><span>Lunes, Martes Y Jueves con Previa cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Pediatría</span></div><div class="staff-info-content"><div class="item"><span>DRA. GEORGINA VILLA CAMACHO</span><span>Lunes, Martes, Miércoles Y Viernes | Sábado Y Domingo</span><span>Lunes 11:30 A 20:00 H | Martes: Previa Cita | Miércoles 11:30 A 20:00 H | Viernes 11:30 A 20:00 H | Sábado 16:30 A 18:00 H | Domingo Previa Cita</span></div><div class="item"><span>DRA. VELIA ROSAS BENÍTEZ</span><span>Martes | Domingo</span><span>Martes 18:00 A 20:00 H | Domingo A Partir De Las 11:00 Am</span></div></div><div class="staff-info-header collapsible"><i></i><span>Neumología</span></div><div class="staff-info-content"><div class="item"><span>DR. JUVENCIO OSNAYA JUÁREZ</span><span>Sábado de 9:30 A 13:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Pediatría - Neumología</span></div><div class="staff-info-content"><div class="item"><span>DR. EDUARDO JERICO RODRÍGUEZ BUCHELI RAMÍREZ</span><span>Lunes A Viernes | Sábado</span><span>Lunes A Viernes 7:00 A 18:00 H | Sábado Cualquier Horario</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Proctología</span></div><div class="staff-info-content"><div class="item"><span>DR. JESÚS TORRES PERALTA</span><span>Lunes A Viernes con Previa Cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Psiquiatría</span></div><div class="staff-info-content"><div class="item"><span>DR. MARIO CÉSAR GARCÍA ALANÍS</span><span>Lunes de 18:00 A 20:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Psicología</span></div><div class="staff-info-content"><div class="item"><span>LIC. ANGELICA ALTAMIRANO</span><span>Lunes, Miercoles Y Viernes de 15:00 A 19:00 H</span></div><div class="item"><span>LIC. KAREN LHOMAN ALAMILLA</span><span>Lunes A Viernes con Previa Cita</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Reumatología</span></div><div class="staff-info-content"><div class="item"><span>DRA. GRACIELA MERCADO MOLINA</span><span>Domingo de 11:30 A 13:30 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Terapia y Rehabilitación Física</span></div><div class="staff-info-content"><div class="item"><span>ELIZABETH CERVANTES</span><span>Lunes A Viernes | Sábado</span><span>Lunes A Viernes 7:00 A 14:30 H | Sábado 9:00 A 17:00 H</span></div><div class="item"><span>OLIVIA NELLY OLEA RODRÍGUEZ</span><span>Lunes A Viernes | Domingo</span><span>Lunes A Viernes 14:00 A 21:00 H | Domingo 9:00 A 17:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Urología</span></div><div class="staff-info-content"><div class="item"><span>DR. ADRIÁN I. VILLA GUERRERO</span><span>Lunes A Viernes | Sábado</span><span>Lunes A Viernes 12:00 A 14:00 H | Sábado 12:00 A 14:00 H</span></div><div class="item"><span>DR. ARTURO MORALES MORALES</span><span>Lunes, Miércoles Y Viernes | Sábado</span><span>Lunes, Miércoles Y Viernes 17:00 A 21:00 H | Sábado 14:00 A 16:00 H</span></div></div></div><div class="staff-info-item"><div class="staff-info-header collapsible"><i></i><span>Urología Pediátrica</span></div><div class="staff-info-content"><div class="item"><span>DR. ONÉSIMO AVILÉS GONZÁLEZ</span><span>Lunes A Viernes | Sábado</span><span>Lunes A Viernes 14:30 A 18:30 H | Sábado 8:00 A 10:00 H</span></div></div></div></div></div><div class="staff-profile"><div class="staff-profile-header"><p><span>Encuntra un<br></span><span><strong>especialista</strong> de<br></span><span>Hospital Río Consulado</span></p><figure><img src="img/staff-2.jpg" alt="Alergología"><figcaption>Alergología</figcaption></figure></div><div class="staff-profile-content"><figure><img src="img/staff-3.jpg" alt="Doctora"><figcaption>Doctora Premium</figcaption></figure><div class="staff-profile-content-data"><span class="bold">Dra. Andrea Granados Gómez</span><span class="orange">Alergología</span><span>Consultorio: 24</span><span>Teléfono: 5511227799</span><span>Ext: 34</span><div><span>Previa Cita</span><a href="#">Ver Perfil</a></div></div></div></div><div class="staff-services"><h2>Servicios</h2><div class="staff-services-images"><figure><img src="img/staff-services-1.png" alt="Ambulancia"></figure><figure><img src="img/staff-services-2.png" alt="Clinica de gastro-endoscopía"></figure><figure><img src="img/staff-services-3.png" alt="Hemodialisis"></figure><figure><img src="img/staff-services-4.png" alt="Hospitalización"></figure><figure><img src="img/staff-services-5.png" alt="Imagenologia"></figure><figure><img src="img/staff-services-6.png" alt="Laboratorio"></figure><figure><img src="img/staff-services-7.png" alt="Quirófano"></figure><figure><img src="img/staff-services-8.png" alt="Rehabilitación fisica"></figure><figure><img src="img/staff-services-9.png" alt="Unidad Neonatal"></figure><figure><img src="img/staff-services-10.png" alt="Unidad de medicina crítica"></figure><figure><img src="img/staff-services-11.png" alt="Urgencias"></figure><figure></figure></div></div><div class="home-blog"><h1 class="home-blog-title">CONSULTA NUESTRO BLOG</h1><div class="home-blog-container"><div class="home-blog-item"><div class="home-blog-item-image" style="background: url(&quot;img/blog-1.jpg&quot;)"></div><a class="home-blog-item-title" href="#">La Importancia de la alimentación infantil</a><div class="home-blog-item-actions"><span class="views"><i class="icon-eye"></i>6</span><a class="link" href="#">Escribir un comentario</a><i class="like icon-heart"></i></div></div><div class="home-blog-item"><div class="home-blog-item-image" style="background: url(&quot;img/blog-2.jpg&quot;)"></div><a class="home-blog-item-title home-blog-item-title" href="#">Lo que tienes que saber de la diabetes</a><div class="home-blog-item-actions"><span class="views"><i class="icon-eye"></i>6</span><a class="link" href="#">Escribir un comentario</a><i class="like icon-heart"></i></div></div><div class="home-blog-item"><div class="home-blog-item-image" style="background: url(&quot;img/blog-3.jpg&quot;)"></div><a class="home-blog-item-title home-blog-item-title" href="#">Las variantes del coronavirus</a><div class="home-blog-item-actions"><span class="views"><i class="icon-eye"></i>6</span><a class="link" href="#">Escribir un comentario</a><i class="like icon-heart"></i></div></div></div></div></div><footer class="footer"><div class="footer-social"><a href="#" target="_blank"><i class="icon-facebook-f"></i></a><a href="#" target="_blank"><i class="icon-twitter"></i></a></div><figure class="footer-logo"><img src="img/logo-footer.png" alt="Footer Logo"></figure><div class="footer-link-container"><div class="footer-link"><a class="border" href="#">conócenos</a></div><div class="footer-link"><a class="border" href="/staff.html">directorio</a></div><div class="footer-link"><a class="border" href="#">servicios</a></div><div class="footer-link"><a class="border" href="#">aseguradoras</a></div><div class="footer-link"><a class="border" href="#">pre-admisión</a></div><div class="footer-link"><a class="border" href="#">blog</a></div></div><p class="footer-text"><a href="#">AVISO DE PRIVACIDAD</a></p><p class="footer-text">Todos los derechos reservados. México 2021</p></footer></body></html>

src/templates/pages/staff.pug
extends ../base

block title
  | Directorio

block content
  .staff
    include ../partials/adress-partial
    .staff-banner
      .staff-banner-content
        h1
          span Encuentra un <br>
          span especialista
        a.general-link(href='#') Selecciona uno aqui
      figure
        img(src='img/s-1.jpg', alt='Family Image')
    .staff-info
      .staff-info-col
        h2 A-E
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Alergología
          .staff-info-content
            .item
              span DR. ANDREA GRANADOS GÓMEZ
              span Lunes Y Miércoles | Sábado
              span Lunes Y Miércoles A Partir De Las 14:00 H | Sábado A Partir De Las 8:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Angiología y Cirugía vascular
          .staff-info-content
            .item
              span DR. LIZBETH LINARTE MÁRQUEZ
              span Martes, Miércoles Y Viernes de 14:30 A 17:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Cardiología
          .staff-info-content
            .item
              span DR. JANETH MIJANGOS CHÁVEZ
              span Martes Y Jueves | Sábado
              span Martes Y Jueves 15:00 A 19:00 H | Sábado 13:00 A 15:00 H Y 17:30 -18:30 -19:30 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Cirugía General
          .staff-info-content
            .item
              span DR. ROGELIO MENDOZA ARCHER
              span Martes a Sábado de 11:00 a 14:00
            .item
              span DR. AZAEL PABLO RUIZ
              span Lunes a Sábado de 9:00 a 12:00
            .item
              span DR. ALAN R. GARCÍA MARÍN
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 15:30 A 18:30 H | Sábado 10:00 A 12:30 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Cirugía Pediátrica
          .staff-info-content
            .item
              span DR. ONÉSIMO AVILÉS GONZÁLEZ
              span Lunes A Viernes | Sábado
            .item
              span DR. AZAEL PABLO RUIZ
              span Lunes a Sábado de 9:00 a 12:00
              span Lunes A Viernes 14:30 A 18:30 H | Sábado 8:00 A 10:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Cirugía Plástica Estética y Reconstructiva
          .staff-info-content
            .item
              span DRA. ROSA MARÍA GUERRERO CAMPOS
              span Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Dermatología
          .staff-info-content
            .item
              span Lunes Y Jueves | Domingo
              span Lunes Y Jueves 14:00 A 17:00 H | Domingo 10:00 A 12:00 H
      .staff-info-col
        h2 G-0
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Gastroendoscopia
          .staff-info-content
            .item
              span DR. ALAN R. GARCÍA MARÍN
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 15:30 A 18:30 H | Sábado 10:00 A 12:30 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Gatro-Pediatría
          .staff-info-content
            .item
              span DRA. LETICIA CASTRO ORTIZ
              span Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Geriatría
          .staff-info-content
            .item
              span DR. ENRIQUE ALAVES TORRES
              span Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Ginecología
          .staff-info-content
            .item
              span DR. ÁNGEL G. SOLÍS RODRÍGUEZ
              span Lunes, Martes, Jueves Y Viernes | Sábado
              span
                | Lunes A Viernes 10:00 A 13:30 H Y 16:00 A 20:00 H |
                | Mar Y Jue 16:00 A 18:30 H | Sábado 9:00 A 14:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Hematología
          .staff-info-content
            .item
              span DRA. CLAUDIA BARÓN ARCE
              span Lunes A Viernes de 14:30 Y 15:00 H
            .item
              span DR. LUIS FERNANDO JACOBO
              span Lunes A Partir De 16:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Medicina General
          .staff-info-content
            .item
              span DRA. ELVIA ZAVALA LÓPEZ
              span Lunes A Jueves de 8:00 A 12:00 H
            .item
              span DRA. JOCELYN M. HERNÁNDEZ SALAZAR
              span Lunes A Viernes de 9:00 A 18:00 H
            .item
              span DR. MOISÉS TORREA PALACIOS
              span Martes Y Jueves | Domingo de 20:00 A 08:00 H
            .item
              span DR. JOSUÉ AGUILAR REYES
              span Lunes, Miércoles Y Viernes de 20:00 A 08:00 H
            .item
              span DR. YAIR SÁNCHEZ LÓPEZ
              span Sábado de 8:00 A 20:00 H
            .item
              span DR. RICARDO RESÉNDIZ GARCÍA
              span Martes Y Jueves de 12:00 A 20:00 H
            .item
              span DR. JUAN CARLOS OLVERA MORENO
              span Sábado Y Domingo
              span Sábado 20:00 A 08:00 H | Domingo 08:00 A 20:00 H
            .item
              span DRA. KARLA A. PINEDA ROMERO
              span Martes Y Jueves de 16:00 A 20:00 H
            .item
              span DRA. KAREN B. JIMÉNEZ VEGA
              span Lunes, Miércoles Y Viernes
              span Lunes Y Miércoles 16:00 A 20:00 H | Viernes 8:00 A 13:00H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Medicina Interna
          .staff-info-content
            .item
              span DR. A. EMILIO REYES JIMÉNEZ
              span Lunes, Martes Y Jueves | Miércoles Y Viernes
              span Lunes, Martes Y Jueves A Partir De 16:30 H | Miércoles Y Viernes Previa Cita
            .item
              span DR. RODOLFO H. RODRÍGUEZ MARTÍNEZ
              span Lunes A Viernes
              span Lunes A Viernes 10:00 A 14:00 H | Martes Solo Con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Nefrología
          .staff-info-content
            .item
              span DRA. CATALINA GARCÍA RAMÍREZ
              span Lunes, Miércoles Y Viernes | Sábado Y Domingo
              span Lunes, Miércoles Y Viernes 14:30 A 18:00 H | Sábado Y Domingo Solamente Urgencias
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Neumología
          .staff-info-content
            .item
              span DR. JUVENCIO OSNAYA JUÁREZ
              span Sábado de 9:30 A 13:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Neurocirugía
          .staff-info-content
            .item
              span DR. VÍCTOR A. REYES RODRÍGUEZ
              span Martes Y Jueves de 16:00 A 20:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Neurología
          .staff-info-content
            .item
              span DRA. DIANA LÓPEZ
              span Lunes, Jueves Y Viernes
              span Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Nutriología
          .staff-info-content
            .item
              span LIC. DULCE KAREN LÓPEZ DOMÍNGUEZ
              span Lunes A Viernes | Sábado Y Domingo
              span Lunes A Viernes 9:00 A 14:00 H | Sábado Y Domingo Previa Cita 10:00 A 14:00 H
            .item
              span LIC. CARLOS HERNÁNDEZ MONDRAGÓN
              span Martes Y Jueves | Sábado Y Domingo
              span
                | Martes Y Jueves 7:00 A 8:00 H | Sábado A Partir De 14:00 H |
                | Domingo A Partir De 9:00 H
      .staff-info-col
        h2 O-U
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Odontología
          .staff-info-content
            .item
              span EDUARDO LÓPEZ GARCÍA GUERRERO
              span Martes, Miércoles Y Viernes | Sábado Y Domingo
              span
                | Martes Y Miércoles 11:00 A 19:00 H | Viernes 9:00 A 12:00 H | Sábado 9:00 A
                | 12:00 H | Domingo Previa Cita
            .item
              span RAQUEL TORRES
              span Lunes Y Miércoles | Sábado
              span Lunes Y Miércoles 10:00 A 13:30 H | Sábado A Partir De 14:30 H
            .item
              span ISAAC VÁZQUEZ (ORTODONCIA)
              span Jueves con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Oftalmología
          .staff-info-content
            .item
              span DR. VIRGILIO LIMA GÓMEZ
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 15:00 Y 15:30 H | Sábado 8:00 A 13:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Oncología
          .staff-info-content
            .item
              span DR. JOSÉ EDUARDO ROVELO LIMA
              span Horario Abierto con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Ortopedia
          .staff-info-content
            .item
              span DR. MARIO BOBADILLA CAZARES
              span Lunes A Jueves | Sábado
              span
                | Lunes 15:00 A 17:00 H | Martes 15:00 A 19:30 H | Miércoles 15:00 A
                | 19:30 H | Jueves 15:00 A 19:30 H | Sábado 8:00 A 10:00 H
            .item
              span DR. EDGAR CHÁVEZ LLAMAS
              span Martes Y Jueves | Sábado de 11:00 A 14:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Otorrinolaringología
          .staff-info-content
            .item
              span DRA. GRACIELA CHÁVEZ RAMÍREZ
              span Lunes A Viernes
              span Lunes A Viernes 12:30 A 13:30 H | Martes Y Jueves 17:00 Y 17:30 H
            .item
              span DRA. IARA PINEDA TEJEIRA
              span Lunes, Martes Y Jueves con Previa cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Otoneurología
          .staff-info-content
            .item
              span DRA. IARA PINEDA TEJEIRA
              span Lunes, Martes Y Jueves con Previa cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Pediatría
          .staff-info-content
            .item
              span DRA. GEORGINA VILLA CAMACHO
              span Lunes, Martes, Miércoles Y Viernes | Sábado Y Domingo
              span
                | Lunes 11:30 A 20:00 H | Martes: Previa Cita | Miércoles 11:30 A 20:00 H |
                | Viernes 11:30 A 20:00 H | Sábado 16:30 A 18:00 H | Domingo Previa Cita
            .item
              span DRA. VELIA ROSAS BENÍTEZ
              span Martes | Domingo
              span Martes 18:00 A 20:00 H | Domingo A Partir De Las 11:00 Am
          .staff-info-header.collapsible
            i
            span Neumología
          .staff-info-content
            .item
              span DR. JUVENCIO OSNAYA JUÁREZ
              span Sábado de 9:30 A 13:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Pediatría - Neumología
          .staff-info-content
            .item
              span DR. EDUARDO JERICO RODRÍGUEZ BUCHELI RAMÍREZ
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 7:00 A 18:00 H | Sábado Cualquier Horario
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Proctología
          .staff-info-content
            .item
              span DR. JESÚS TORRES PERALTA
              span Lunes A Viernes con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Psiquiatría
          .staff-info-content
            .item
              span DR. MARIO CÉSAR GARCÍA ALANÍS
              span Lunes de 18:00 A 20:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Psicología
          .staff-info-content
            .item
              span LIC. ANGELICA ALTAMIRANO
              span Lunes, Miercoles Y Viernes de 15:00 A 19:00 H
            .item
              span LIC. KAREN LHOMAN ALAMILLA
              span Lunes A Viernes con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Reumatología
          .staff-info-content
            .item
              span DRA. GRACIELA MERCADO MOLINA
              span Domingo de 11:30 A 13:30 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Terapia y Rehabilitación Física
          .staff-info-content
            .item
              span ELIZABETH CERVANTES
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 7:00 A 14:30 H | Sábado 9:00 A 17:00 H
            .item
              span OLIVIA NELLY OLEA RODRÍGUEZ
              span Lunes A Viernes | Domingo
              span Lunes A Viernes 14:00 A 21:00 H | Domingo 9:00 A 17:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Urología
          .staff-info-content
            .item
              span DR. ADRIÁN I. VILLA GUERRERO
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 12:00 A 14:00 H | Sábado 12:00 A 14:00 H
            .item
              span DR. ARTURO MORALES MORALES
              span Lunes, Miércoles Y Viernes | Sábado
              span Lunes, Miércoles Y Viernes 17:00 A 21:00 H | Sábado 14:00 A 16:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Urología Pediátrica
          .staff-info-content
            .item
              span DR. ONÉSIMO AVILÉS GONZÁLEZ
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 14:30 A 18:30 H | Sábado 8:00 A 10:00 H
    .staff-profile
      .staff-profile-header
        p
          span Encuntra un <br>
          span <strong>especialista</strong> de <br>
          span Hospital Río Consulado
        figure
          img(src='img/staff-2.jpg', alt='Alergología')
          figcaption Alergología
      .staff-profile-content
        figure
          img(src='img/staff-3.jpg', alt='Doctora')
          figcaption Doctora Premium
        .staff-profile-content-data
          span.bold Dra. Andrea Granados Gómez
          span.orange Alergología
          span Consultorio: 24
          span Teléfono: 5511227799
          span Ext: 34
          div
            span Previa Cita
            a(href='#') Ver Perfil
    .staff-services
      h2 Servicios
      .staff-services-images
        figure
          img(src='img/staff-services-1.png', alt='Ambulancia')
        figure
          img(
            src='img/staff-services-2.png',
            alt='Clinica de gastro-endoscopía'
          )
        figure
          img(src='img/staff-services-3.png', alt='Hemodialisis')
        figure
          img(src='img/staff-services-4.png', alt='Hospitalización')
        figure
          img(src='img/staff-services-5.png', alt='Imagenologia')
        figure
          img(src='img/staff-services-6.png', alt='Laboratorio')
        figure
          img(src='img/staff-services-7.png', alt='Quirófano')
        figure
          img(src='img/staff-services-8.png', alt='Rehabilitación fisica')
        figure
          img(src='img/staff-services-9.png', alt='Unidad Neonatal')
        figure
          img(
            src='img/staff-services-10.png',
            alt='Unidad de medicina crítica'
          )
        figure
          img(src='img/staff-services-11.png', alt='Urgencias')
        figure
    include ../partials/blog-partial
